*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home{
   background-color: #57005f;
}

#about{
     background-color: #6d2b29;
}

#product{
     background-color: #114e19;
}

#pricing{
     background-color: #304349;
}

#contact{
     background-color: #584c08;
}

#login{
    background-color: #474747f1;
}

h1{
    position: absolute;
    top: 7%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

p{
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(146, 184, 11);
    padding: 0px;
    border: solid;
}

img{
    width: 80px;
    height: 80px;
    position: absolute;
    margin-left: -35px;
    margin-top: -55px;
}


/* Bordered form */
form {
    border: 3px solid #474747f1;
    margin-top: 150px;
    max-width: 50%;
    margin-left: 25%;
    color: #f0ffff;
    font-size: 20px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #474747f1;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    align-items: center;
    margin-top: -30px;
    margin-left: 235px;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
a{
    color: white;
}




